<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adoptable</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
  <main>
    {{{ body }}}
  </main>

<!-- Footer -->
<footer class="bg-emerald-700 h-20 flex items-center">
<div class="mx-auto max-w-7xl px-4 text-center">
      <p class="text-sm text-white">Dog Adoption Finder 2024</p>
      </div>
</footer>

</body>
</html>
