{{!-- Users profile page, displaying saved favorite dogs from SQL database --}}

<div class="flex flex-col items-center mx-auto text-center max-w-3xl">
  <h1 class="text-3xl font-bold text-emerald-700 mt-14">Hi, (users name here)!</h1>
  <p class="w-2/3 mt-2">Here are all pups you have saved in your search-
  </p>
</div>
